<div id="q<%=question.id%>">
  <div class="question row">
    <div class="col-md-8" style="padding-left:50px">
      <div class="row">
        <div class="col-md-1">
          <div class="row"><div class="col-md-12 arrow"><i class="icon-thumbs-up icon-large white arrow"></i><span class="upvotes"> <%= question.upvotes %></span></div></div>
          <div class="row"><div class="col-md-12 arrow"><i class="icon-thumbs-down icon-large white arrow"></i><span class="downvotes"> <%= question.downvotes %></span></div></div>
        </div>
        <div class="col-md-11" style="padding-top: 10px"><span class="big-text"><%= question.question %></span></div>
      </div>
    </div>
    <div class="in-class col-md-1" style="padding-top:5px">
      <form data-remote="true" method="post" action="/questions/<%=question.id%>/in_class">
        <button class="btn btn<% if question.status!="answered in class" %>-outline<%end%>-success">in class</button>
      </form>
    </div>
    <div class="after-class col-md-1" style="padding-top:5px">
      <form data-remote="true" method="post" action="/questions/<%=question.id%>/after_class">
        <button class="btn btn<% if question.status!="will answer after class" %>-outline<%end%>-primary">after class</button>
      </form>
    </div>
    <div class="col-md-2" style="padding-top:5px; padding-left:40px">
      <form data-remote="true" method="post" action="/questions/<%=question.id%>/delete">
        <button type="submit" class="center icon-trash icon-2x" style="color:#800000;"></button>
      </form>
    </div>
  </div>

  <div class="question-separator separator-sm"></div>
</div>