<%= render 'heading2', course: "CHEM 110", href: "prof-ile.html", button_text: "Back" %>

<div id="questions-container" class="row custom-bar" style="overflow-y: auto; overflow-x: hidden;">
  <div class="col-md-1"></div>
  <div id="polling-results" class="col-md-10" style="padding-left: 20px;">
    <div class="separator-md"></div>

    <%= render 'prof_question', question: "What is the conversion for cm to inches?", upvote_count: 19, downvote_count: 2 %>

    <%= render 'prof_question', question: "I forgot how to use last week's formula", upvote_count: 15, downvote_count: 3 %>

    <%= render 'prof_question', question: "How is this relevant to the reading?", upvote_count: 5, downvote_count: 6 %>

    <%= render 'prof_question', question: "What's going to be on the midterm next month?", upvote_count: 3, downvote_count: 10 %>

    <%= render 'prof_question', question: "hi", upvote_count: 0, downvote_count: 6 %>

    <%= render 'prof_question', question: "HAHAHAHHA SPAM SPAM SPAM SPAM", upvote_count: 0, downvote_count: 12 %>
    
    <div class="separator-md"></div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class="separator-md"></div>

<div id="poll-button" class="row">
  <div class="col-md-5"></div>
  <div class="col-md-2 big-line"><a href="poll_class.html"><div class="btn btn-inverse fit big-btn">Poll Class</div></a></div>
  <div class="col-md-5"></div>
</div>